<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/faa88aff29.js" crossorigin="anonymous"></script>
    <title>Welcome to KhataBook</title>
</head>

<body>
    <nav class="flex justify-between items-center bg-slate-800 px-4 py-3 text-white font-bold">

        <h1 class="text-2xl cursor-pointer"><a href="/">KhataBook</a></h1>

        <ul class="flex gap-3 ">
            <li class="hover:text-slate-300"><a href="/">Home</a></li>
            <li class="hover:text-slate-300"><a href="./create">Create</a></li>
        </ul>
    </nav>

    <h1 class="text-3xl font-bold m-3 ">Hisaab Of <span class="text-blue-500">09-09-2024</span> Date</h1>


    <div class="flex flex-col gap-3 m-3  ">

        <p>This is Hisaab</p>

        <a href="/edit">edit</a>
    </div>








</body>

</html>