<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is a title</title>
</head>

<body>

    <h1>This is a Home</h1>
    <code>
        <p> Here We can Add : 2 + 2 = &lt;%= 2 + 2 %&gt; </p>

    </code>

    <p>Here We can Add : 2 + 2 = <%= 2 + 2 %>
    </p>

</body>

</html>