<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Home</h1>
    <p>Form Handling with EJS (GET)</p>

    <!-- By default method is GET -->
    <form action="/check">
        <input type="text" placeholder="Enter Name" name="name">
        <input type="gmail" placeholder="Enter Gmail" name="gmail">
        <input type="password" placeholder=" Enter Password" name="pass">
        <input type="submit" value="Submit">
    </form>


</body>

</html>